
@import "yui-reset.css";

@column: 60px;
@gutter: 20px;

@fontSize: 16px;
@lineHeight: 24px;

@colx1: 1 * (@column + @gutter) - @gutter;
@colx2: 2 * (@column + @gutter) - @gutter;
@colx3: 3 * (@column + @gutter) - @gutter;
@colx4: 4 * (@column + @gutter) - @gutter;
@colx5: 5 * (@column + @gutter) - @gutter;
@colx6: 6 * (@column + @gutter) - @gutter;
@colx7: 7 * (@column + @gutter) - @gutter;
@colx8: 8 * (@column + @gutter) - @gutter;
@colx9: 9 * (@column + @gutter) - @gutter;
@colx10: 10 * (@column + @gutter) - @gutter;
@colx11: 11 * (@column + @gutter) - @gutter;
@colx12: 12 * (@column + @gutter) - @gutter;

.clearFix() {
    zoom: 1;
    &:before { content: ''; display: block; }
    &:after { content: ''; display: table; clear: both; }
}

body {
    font-family: Georgia, serif;
    font-size: @fontSize;
    line-height: @lineHeight;

    padding-top: (@lineHeight * 5);
}

header {
    @headerWidth: @colx12;
    @headerHeight: @lineHeight * 4;

    @logoWidth: @colx3;

    @dropDownHeight: @headerHeight - @gutter * 2;
    @dropDownPadding: 20px;

    @categoryIconSize: 32px;

    position: fixed;
    top: 0px;

    z-index: 1;

    width: 100%;
    height: @headerHeight;

    box-shadow: 0px -2px 10px #000;

    background: #fff;

    .main {
        position: relative;
        width: @headerWidth;
        height: 100%;

        margin: auto;
    }

    .logo {
        display: block;

        width: @logoWidth;
        height: 100%;

        overflow: hidden;

        text-indent: -9999px;

        // TODO: remove
        text-align: center;
        font-size: 24px;
        line-height: @lineHeight * 2;
        text-shadow: 0px 1px 1px #eee;
        background: url(logo.png) 0px 0px no-repeat;
    }

    nav {
        position: absolute;

        top: 0;
        left: @logoWidth + @gutter;

        width: @headerWidth - @gutter - @logoWidth;

        h2 {
            position: absolute;
            top: @gutter;
            left: 0;

            z-index: 2;

            width: @headerWidth - @gutter - @logoWidth - @dropDownPadding * 2;
            height: @dropDownHeight;

            padding: 0px @dropDownPadding;

            line-height: @dropDownHeight;

            background: #eee;
            border-radius: 10px;

            &:after {
                @iconMargin: 10px;
                @iconSize: @dropDownHeight - @iconMargin * 2;

                position: absolute;
                top: @iconMargin;
                right: @iconMargin;

                width: @iconSize;
                height: @iconSize;

                text-align: center;
                line-height: @iconSize;

                border-radius: 5px;
                background: #ddd;
                content: "\25BC";
            }
        }

        ul {
            visibility: hidden;
            opacity: 0;

            position: absolute;
            top: @dropDownHeight + @gutter - 10px;
            left: 0px;

            z-index: 1;

            width: @headerWidth - @gutter - @logoWidth - @dropDownPadding * 2;

            overflow: hidden;

            padding: 10px @dropDownPadding 0;

            border-radius: 0px 0px 10px 10px;
            background: #ddd;

            -webkit-transition: visibility 0.2s ease, opacity 0.2s ease;

            li {
                margin: 0px -@dropDownPadding;

                a {
                    display: block;
                    padding: 8px @dropDownPadding;

                    line-height: @categoryIconSize;

                    &:hover {
                        background: #ccc;
                    }

                    .icon {
                        display: block;
                        width: @categoryIconSize;
                        height: @categoryIconSize;
                    }

                    .label {
                        display: block;
                        margin-top: -@categoryIconSize;
                        margin-left: @categoryIconSize + 10px;
                    }
                }
            }
        }

        h2:focus {
            &:after { content: "\25B2" }
        }

        h2:focus + ul,
        ul:hover {
            visibility: visible;
            opacity: 1;
        }
    }
}

.content {
    @contentWidth: @colx12;

    position: relative;

    width: @contentWidth;
    margin: auto;

    h1 {
        font-weight: bold;
        letter-spacing: -1px;
        font-size: @fontSize * 2;
        line-height: @lineHeight * 2;
        margin-bottom: @lineHeight;
    }

    p {
        margin-bottom: @lineHeight;
    }
}

.gallery {
    @thumbSize: @colx3;

    .clearFix();

    margin-right: -@gutter;
    margin-bottom: -@gutter + @lineHeight;

    li {
        float: left;
        vertical-align: top;
        margin-right: @gutter;
        margin-bottom: @gutter;

        a {
            position: relative;
            display: block;

            &:hover:after {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: @thumbSize;
                line-height: @lineHeight * 2;

                text-align: center;

                content: "Download";
                color: #fff;
                text-shadow: 0px 1px 0px #000;
                background: rgba(0, 0, 0, 0.2);
            }
        }

        img {
            display: block;
            width: @thumbSize;
            height: @thumbSize;
        }
    }
}
