
- var categoryNames = _(contents.categories).keys()
- categoryNames.sort()

include gallery

!!! 5

html
    head
        //base(href=locals.url)

        link(rel="stylesheet", type="text/css", href=locals.assets+"/theme.css")

        // @todo: this
        link(rel="icon", type="image/x-icon", href="about:blank")

        title Phone Story
    body
        header
            .main
                a.logo(href=".") Phone Story
                nav
                    h2(tabIndex=0) Select Category
                    ul
                        each categoryName in categoryNames
                            - var category = contents.categories[categoryName]['index.json'].metadata

                            li
                                a(href='categories/'+categoryName+'/')
                                    img.icon(src=category.iconUrl)
                                    span.label= category.label

        section.content
            block content

        footer
