
- category = page.metadata

- var gallery = [ { url: '/img1', thumbUrl: "http://placehold.it/220x220" }, { url: '/img1', thumbUrl: "http://placehold.it/220x220" }, { url: '/img1', thumbUrl: "http://placehold.it/220x220" }, { url: '/img1', thumbUrl: "http://placehold.it/220x220" }, { url: '/img1', thumbUrl: "http://placehold.it/220x220" }, { url: '/img1', thumbUrl: "http://placehold.it/220x220" }, { url: '/img1', thumbUrl: "http://placehold.it/220x220" }, { url: '/img1', thumbUrl: "http://placehold.it/220x220" } ]

include basicPage
    block content
        h1 #{ category.label } Wallpapers

        mixin gallery(gallery)
